extends layout

block content
  h1 Welcome to #{title}

  div
    p Here is an example value for you to play with:
    span#exampleData

  p You can update this value by PUTting it to the "#{exampleStoreName}" store:
    div
      code
        | curl -X PUT
        |   --header 'Content-Type: application/json'
        |   -d '[{"value": "50"}]' #{exampleApiUrl}


  script
    var updateData = function(data) {
        var dataElement = document.getElementById('exampleData')
        dataElement.innerHTML = data[0].value;
    };
    var client = new DashingCapybaraClient('#{baseUrl}', function () {
      client.subscribe('#{exampleStoreName}', updateData);
    });
